
<% @circle_events.each do |circle_event| %>
	<div class="circle-event">
		<p>イベント名:<%= circle_event.title %>  <%= link_to "詳細",circle_event_path(circle_event) %></p>
				
	</div>
<% end %>

<%= link_to "イベント新規作成",new_circle_event_path %>