// Place all the styles related to the circles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.circles {
	padding-top: 60px;
	width: 100%;
	background: #F7F5F4;
	.contents {
		width: 1200px;
		margin: 0 auto;
	}

	.side {
		width: 30%;
		margin-top: 100px;
		height: 600px;
		float: left;
		background: #ff7469;
		border-radius: 8px;
		.side-top {
			height: 100px; 
		}
	}

	.main {
		width: 70%;
		float: right;
		.circles-list {
			margin-top: 30px;
			.circle {
				border: 1px solid #BCBDC2;
				width: 240px;
				height: 260px;
				float: left;
				background: white;
				margin-left: 20px;
				margin-right: 20px;
				margin-bottom: 20px;
				border-radius: 4px;
				.circle-image {
					width: 238px;
					height: 150px;
					border-radius: 4px 4px 0 0;
				}
			}
			.pagination {
				margin: 0 auto;
			}

		}
	}

}