// Place all the styles related to the circleEvents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.circle_events {
	padding-top: 60px;
	width: 100%;
	background: #f7f5f4;
	.contents-index {
		width: 1100px;
		margin: 0 auto;
		height: auto;
		.side {
			width: 300px;
			float: left;
			.side-top {
				margin-top: 30px;
				.circle-link-pri {
					width: 124px;
					float: left;
				}
				
				.new-event-link {
					width: 138px;
					float: right;
				}
				.circle-link-pub {
					width: 130px;
					float: none;
					margin-left: 85px;
				}

			}
			.side-contents {
				margin-top: 30px;
				height: 400px;
				background: white;
				.circle-image {
					width: 300px;
					height: 180px;
				}
				.circle-name {
					font-weight: bold;
					font-size: 17px;
					line-height: 32px;
					margin-left: 17px;
					margin-bottom: 0;
				}
				.circle-desc {
					font-size: 12px;
					line-height: 14px;
					margin-left: 13px;
				}
				.circle-status {
					width: 300px;
					.circle-user-count {
						width: 70px;
						font-size: 13px;
						line-height: 24px;
						text-align: center;
						box-sizing: content-box;
						border: 1px solid #0074bf;
						border-radius: 5px;
						color: #0074bf;
						float: left;
						margin-left: 65px;
						.fa {
							padding-right: 4px;
						}
					}
					.circle-likes {
						width: 70px;
						font-size: 13px;
						line-height: 24px;
						text-align: center;
						box-sizing: content-box;
						float: right;
						margin-right: 65px;
						a {
							text-decoration: none;
							display: block;
							border-radius: 5px;
							line-height: 24px;
							color: #d9534f;
							border: 1px solid #d9534f;
						}
						.fa {
							padding-right: 4px;
						}
						a:hover {
							border: 1px solid #c9302c;
							background: #d9534f;
							color: white;
						}
					}
				}
			}
		}
		.main {
			width: 800px;
			float: right;
			margin-top: 40px;
			.circle-events {
				width: 800px;
				.circle-event {
					width: 300px;
					height: 200px;
					margin-left: 50px;
					margin-right: 50px;
					float: left;
					.circle-event-image {
						width: 120px;
						height: 120px;
						float: left;
						margin-top: 20px;
					}
					.circle-event-prof {
						width: 180px;
						height: 300px;
						float: right;
					}
				}

			}
			.pagination {
				text-align: center;
			}
		}
	}
	.contents-show {
		width: 1050px;
		margin: 0 auto;
		height: auto;
		.main {
			width: 500px;
			float: left;
			.main-top {
				margin-top: 30px;
				text-align: center;
				.btn-primary {
					width: 135px;
				}
			}
			.main-contents {
				width: 400px;
				margin-top: 20px;
				margin-left: 50px;
				margin-right: 50px;
				background: white;
				border-radius: 12px;
				.heading {
					display: inline-block;
					background: linear-gradient(transparent 76%, rgba(255,235,59,1) 24%);
				}
				p {
					text-align: center;
					line-height: 20px;
					font-size: 14px;
				}
				h5 {
					font-size: 16px;
					text-align: center;
					margin-bottom: 15px;
				}
				h5:nth-child(1) {
					padding-top: 15px;
				}
				#map {
					margin: 0 auto;
					width: 300px;
					height: 300px;
					margin-bottom: 20px;
				}
				.event-apply {
					text-align: center;
					padding-bottom: 20px;
				}
			}
		}
		.side {
			width: 500px;
			margin-left: 50px;
			float: right;
			.side-contents {
				margin-top: 50px;
				.nav { 
					li {
						text-align: center;
						a {
							color: #337ab7;
						}
						.fa-cog {
							padding-left: 5px;
						}
						.dropdown-menu {
							li {
								text-align: left;
							}
						}
					}
					li.active {
						a {
							color: black;
						}
					}
				}
				.tab-content {
					#event-members {
						.circle-event-member {
							.event-user {
								margin-top: 20px;
								width: 166px;
								float: left;
								.user-image {
									display: block;
									margin: 0 auto;
									width: 130px;
									height: 130px;
								}
								p {
									text-align: center;
									font-size: 14px;
									line-height: 30px;
								}
							}
						}
					}
					#approve {
						.event-attend-member {
							.attend-user {
								margin-top: 20px;
								width: 166px;
								height: 162px;
								float: left;
								.user-image {
									display: block;
									margin: 0 auto;
									width: 100px;
									height: 100px;
								}
								p {
									text-align: center;
									font-size: 14px;
									line-height: center;
								}
								.button_to {
									text-align: center;
								}
							}
						}
					}
				}
			}
		}
	}
	#eventMessages {
		height: 400px;
		overflow: scroll;
		.msg-user-image {
			width: 50px;
			height: 50px;
			margin: 0 auto;
		}
		.user-info {
			width: 100px;
			overflow: hidden;
		}
		.msg-body {
			min-width: 50px;
			max-width: 270px;
			margin-left: 15px;
			margin-right: 15px;
			border-radius: 7px;
			padding: 10px;
		}
		.my-msg {
			float: right;
			width: 400px;
			.user-info {
				float: right;
				text-align: center;
			}
			.msg-body {
				float: right;
				background: #a0c238;
			}
		}
		.oth-msg {
			float: left;
			width: 400px;
			.user-info {
				float: left;
				text-align: center;
			}
			.msg-body {
				float: left;
				background: #bcccd9;
			}
		}
	}
}