// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.home {
	padding-top: 60px;
	.container {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		padding: 0;
		.top-contents {
			width: 100%;
			height: 600px;
        	background:linear-gradient(-45deg, rgba(230, 247, 0, .35), rgba(255, 0, 161, .35)), url(/images/top-bg.jpg);
        	background-size: 100% 600px;
		}
	}
}